.footer {
	position: relative;
	z-index: 2;
	&-top {
		background: $color-canvas-alt;
		padding: 70px 0px 40px 0px;
		text-align: left;
		@include clearfix;
		&__title {
			.numeral {
				font-family: 'Calluna', Arial, sans-serif;
				font-size: 32px;
				font-weight: 400;
				display: inline-block;
				margin-bottom: 45px;
			}
			.text {
				font-family: 'Avenir Heavy', Arial, sans-serif;
				display: inline-block;
				margin-bottom: 15px;
				font-size: 14px;
			}
			@media screen and (min-width: 800px) {
				.numeral {
					font-size: 60px;
				}
				.text {
					font-size: 18px;
				}
			}
			font-family: 'Avenir', Arial, sans-serif;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 700;
			color: $color-base-alt;
			margin: 0;
			padding: $column-padding;
			// border-bottom: 2px solid #194D9D;
			padding-bottom: 30px;
			&:after {
				height: 2px;
				content: '';
				background-color: #194D9D;
				width: 100%;
				display: inline-block;
				@media screen and (min-width: 800px) {
					width: 50%;
				}
			}
		}
		&__cta {
			font-size: 15px;
			line-height: 20px;
			letter-spacing: 1px;
			color: $color-base-alt;
			font-weight: 400;
			margin: 0px auto;
			padding: $column-padding;
			padding-top: 30px;
			& a {
				background-color: #fff;
				border-radius: 5px;
				color: #2760B6;
				width: 150px;
				height: 50px;
				padding: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-family: 'Avenir', Arial, sans-serif;
				font-size: 14px;
				text-transform: uppercase;
				font-weight: 700;
				margin: 30px 0 0;
				&:hover {
					background: $color-base-alt;
					color: $color-canvas-alt;
				}
				@media screen and (min-width: 800px) {
					display: inline-flex;
					margin-top: 5px;
					margin-left: 30px;
				}
			}
		}
	}

	&-bottom {
		background: #F2F5F8;
		padding: 90px 0px 100px 0px;
		@include clearfix;
		@media (max-width: 1030px) {
			padding: 70px 0px 20px 0px;
		}
		&__logo {
			@include sprite-background('logo-footer');
			text-indent: -9000px;
			margin-bottom: 40px;
			margin-left: 15px;
		}
		&__nav {
			display: inline-block;
			float: left;
			width: 65%;
			padding: $column-padding;
			@media (max-width: 1030px) {
				width: 100%;
				float: none;
				display: block;
				@include clearfix;
			}
			& .footer-nav__items {
				list-style-type: none;
				text-align: left;
				margin: 0px;
				padding: 0px;
				max-width: 450px;
				& li {
					display: inline-block;
					float: left;
					width: 33.33%;
					text-align: left;
					margin-bottom: 5px;
					@media (max-width: 460px) {
						width: 50%;
					}
					& * {
						font-size: 16px;
						color: #777777;
						letter-spacing: 0.11px;
						line-height: 26px;
						@media (max-width: 520px) {
							font-size: 14px;
						}
					}
				}
			}
		}
		&__social {
			display: inline-block;
			float: right;
			width: 325px;
			text-align: left;
			margin-right: 15px;
			@media (max-width: 1030px) {
				width: 100%;
				float: none;
				display: block;
				margin-top: 70px;
				margin-right: 0px;
				padding: $column-padding;
				clear: both;
			}
		}
		&__copyright {
			color: #777777;
			font-size: 11px;
			text-transform: uppercase;
			line-height: 22px;
			letter-spacing: 1.17px;
			margin-top: 10px;
		}
	}
}