html {
	@include box-sizing(border-box);
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	-moz-osx-font-smoothing: grayscale;
	&.contact-active {
		overflow: hidden;
	}
	overflow-x: hidden;
} // html

*,
*:after,
*:before {
	@include box-sizing(inherit);
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	-moz-osx-font-smoothing: grayscale;
	outline: 0;
} // *

body {
	font-family: $font-base;
	font-size: $font-size-body + px;
	color: $color-base;
	background-color: $color-canvas;
	overflow-x: hidden;
	text-align: center;
	position: relative;
	&.contact-active {
		position: fixed;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}
} // body

.screen-reader-text {
	visibility: hidden;
	opacity: 0;
} // .screen-reader-text

ul, ol {
	&:first-of-type {
		margin-top: 0; // This is because of normalize. If you Meyer you have it anyway.
	}
	&:last-of-type {
		margin-bottom: 0; // This is because of normalize. If you Meyer you have it anyway.
	}
}

p {
	font-size: $font-size-body + px;
	line-height: $font-line-height + px;
} // p

a {
    color: $color-brand;
    font-size: inherit;
    font-family: $font-base;
	text-decoration: none;
	@include transition(all 0.3s ease-in-out);
		&[href$=".pdf"]:before {
			content: $icon-file-pdf-o;
			font-family: "FontAwesome";
			display: inline-block;
			padding-right: 5px;
		} // Icon to .pdf links
		&[href$=".doc"]:before {
			content: $icon-file-word-o;
			font-family: "FontAwesome";
			display: inline-block;
			padding-right: 5px;
		} // Icon to .doc links
		&[href$=".mp3"]:before {
			content: $icon-file-audio-o;
			font-family: "FontAwesome";
			display: inline-block;
			padding-right: 5px;
		} // Icon to .mp3 links
		&[href$=".mov"]:before {
			content: $icon-file-movie-o;
			font-family: "FontAwesome";
			display: inline-block;
			padding-right: 5px;
		} // Icon to .mov links
		&:hover {
			@include transition(all 0.3s ease-in-out);
		}
} // a

h1 { // Page Titles
}

h2 { // Section Titles
}

h3 { // Titles
}

h4 { // Intro Text 
}

h5 { // Small meta headings
}

// img {
// 	@include responsive-image;
// 	display: block;
// 	margin: 0px auto;
// } // img

.videowrapper { // Making all iframes responsive
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	& iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	} // .videowrapper iframe
} // .videowrapper

button,
.button,
.wysiwyg .button {
	color: $color-base-alt;
	border: 0px solid #fff;
    text-align: center;
    font-size: 11px;
	font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 3px;
    min-width: 180px;
    padding: 13px 10px 13px 10px;
    background-color: $color-canvas;
    position: relative;
    display: inline-block;
	@include box-shadow(0px 0px 10px -1px rgba(189, 189, 189,1));
    @include transition(all .3s ease-in-out);
	&:hover {
		background-color: $color-base-alt;
		color: $color-canvas;
		text-decoration: none;
		@include transition(all .3s ease-in-out);
	} // :hover
	&--section {
		margin: 40px auto 0px auto;
	}
} // button

figure {
	margin: 0px;
	max-width: 100%;
}