/*
  Fonts

  Any @font-face or third party font imports should go in this file

*/

@font-face {
  font-family: "Calluna";
  src: font-url("calluna.otf") format("opentype");
}

@font-face {
  font-family: "Avenir";
  src: font-url("Avenir-Book-01.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir Black";
  src: font-url("Avenir-Black-03.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir Heavy";
  src: font-url("Avenir-Heavy-05.ttf") format("truetype");
}