.social-shares {
	background-color: #fff;
	border-radius: 5px;
	width: 100%;
	padding: 20px;
	max-width: 380px;
	margin: 0 auto;
	display: flex;
	flex-wrap: no-wrap;
	align-items: center;
	@media screen and (min-width: 800px) {
		margin: 0;
	}
	&__heading {
		font-size: 18px;
		font-family: $font-avenir-heavy;
		white-space: nowrap;
		margin-right: 10px;
	}
	&__icons {
		list-style-type: none;
		display: flex;
		flex-grow: 1;
		justify-content: space-evenly;
		padding: 0;
		li {
			color: #fff;
			display: inline-flex;
			padding: 8px;
			border-radius: 3.75px;
			height: 36px;
			width: 36px;
			justify-content: center;
			align-items: center;
			a {
				color: #fff;
			}
			&.facebook {
				background-color: #1877F2;
			}			
			&.linkedin {
				background-color: #2760B6;
			}			
			&.twitter {
				background-color: #1DA1F2;
			}
		}
	}
}