.about-intro {
	position: relative;
	padding: 125px 0px 20px 0px;
	text-align: center;
	@include clearfix;
	&__title {
		font-family: $font-accent;
		font-size: 72px;
		font-weight: 400;
		line-height: 82px;
		color: $color-base-highlight;
		margin: 0px auto 50px auto;
		padding: $column-padding;
		@media (max-width: 1060px) {
			font-size: 48px;
			line-height: 58px;
			margin-bottom: 20px;
		}
		@media (max-width: 620px) {
			font-size: 40px;
			line-height: 50px;
		}
		@media (max-width: 400px) {
			font-size: 28px;
			line-height: 36px;
		}
	}
	&__subtitle {
		font-family: $font-accent;
		font-size: 36px;
		font-weight: 400;
		line-height: 55px;
		color: $color-base;
		margin: 20px auto 80px auto;
		max-width: 980px;
		padding: $column-padding;
		@media (max-width: 1060px) {
			font-size: 28px;
			line-height: 40px;
		}
		@media (max-width: 620px) {
			font-size: 22px;
			line-height: 30px;
		}
		@media (max-width: 480px) {
			font-size: 18px;
			line-height: 28px;
		}
	}
}