.about-membership {
	position: relative;
	padding: 120px 15px 100px 15px;
	text-align: center;
	@include clearfix;
	&__title {
		font-family: $font-accent;
		font-size: 72px;
		color: $color-base-highlight;
		line-height: 82px;
		margin: 70px 0px 20px 0px;
		@media (max-width: 1060px) {
			font-size: 48px;
			line-height: 58px;
			margin-bottom: 20px;
		}
		@media (max-width: 620px) {
			font-size: 40px;
			line-height: 50px;
		}
		@media (max-width: 400px) {
			font-size: 30px;
			line-height: 36px;
		}
	}
	&__content {
		font-size: 18px;
		line-height: 28px;
		color: $color-base;
		margin: 60px auto 0px auto;
		max-width: 920px;
		padding-bottom: 300px;
		@media (max-width: 1060px) {
			margin-top: 20px;
			padding-bottom: 60px;
		}
		@media (max-width: 480px) {
			font-size: 18px;
			line-height: 28px;
		}
		@media (max-width: 400px) {
			font-size: 16px;
			line-height: 28px;
		}
	}
	&__contact {
		border-radius: 50px;
		background-color: $color-brand;
		color: $color-base-alt;
		margin: 0px auto;
		padding: 12px 25px;
		font-size: 12.5px;
		letter-spacing: 1.25px;
		font-weight: 700;
		text-transform: uppercase;
		min-height: 43px;
		width: 260px;
		display: inline-block;
		@media (max-width: 1060px) {
			margin-bottom: 200px;
		}
		@media (max-width: 580px) {
			margin-bottom: 100px;
		}
		&:hover {
			background: darken($color-brand, 15%);
		}
	}
}