$mobile-screen: "screen and (max-width: 800px)";
$screen-desktop: "screen and (min-width: 800px)";
$color-text: #333333;
$color-text-dark: #000;

.blog-post {
    background-color: #f3f3f3;
    text-align: initial;
    font-family: "Avenir", Arial, sans-serif;
    color: $color-text;

    h1 {
        color: $color-text-dark;
        font-family: "Calluna", Arial, sans-serif;
        font-weight: normal;
        margin: 0;
        font-size: 48px;
        line-height: 52px;
        @media #{$mobile-screen} {
            font-size: 30px;
            line-height: 36px;
        }
    }
    h2 {
        color: $color-text-dark;
        font-family: "Calluna", Arial, sans-serif;
        font-weight: normal;
        margin: 0;
        font-size: 30px;
        line-height: 36px;
        @media #{$mobile-screen} {
            font-size: 24px;
            line-height: 28px;
        }
    }
    h3 {
        color: $color-text-dark;
        font-family: "Calluna", Arial, sans-serif;
        font-weight: normal;
        margin-bottom: 0;
        font-size: 24px;
        line-height: 28px;
        @media #{$mobile-screen} {
            font-size: 21px;
            line-height: 26px;
        }
    }
    h4 {
        color: $color-text-dark;
        font-family: "Avenir Heavy", Arial, sans-serif;
        font-weight: normal;
        margin: 0;
        font-size: 21px;
        line-height: 28px;
        @media #{$mobile-screen} {
            font-size: 18px;
            line-height: initial;
        }
    }

    &__image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 10;
        }
    }
    &__header {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 600px;
        @media #{$mobile-screen} {
            justify-content: flex-end;
            height: 500px;
            padding: 30px 10px;
        }
        z-index: 100;
        position: relative;
        max-width: 730px;
        margin: 0 auto;

        &__date,
        &__title,
        &__byline {
            text-shadow: 1px 1px 0 $color-text;
        }

        &__date {
            font-family: "Avenir Heavy", Arial, sans-serif;
            text-transform: uppercase;
            margin: 0;
            font-size: 18px;
            line-height: 34px;
            letter-spacing: 1px;
            @media #{$mobile-screen} {
                font-size: 12px;
                line-height: 28px;
            }
        }
        &__title {
            color: #fff !important;
        }
        &__hr__short-blue {
            width: 74px;
            height: 3px;
            display: block;
            background-color: #2760b6;
            border: none;
            margin: 0;
            margin-top: 30px;
        }
        &__byline {
            margin: 0;
            margin-top: 30px;
            font-size: 24px;
            @media #{$mobile-screen} {
                font-size: 16px;
                line-height: 21px;
            }
            font-family: "Avenir Heavy", sans-serif;
            &__by {
                font-family: "Avenir Book", sans-serif;
            }
            &__name {
                &:not(:last-of-type) {
                    &:after {
                        content: ",";
                    }
                }
            }
        }
    }
    .page-content {
        max-width: 730px;
        padding-top: 20px;
        padding-bottom: 50px;
        padding-left: 0;
        padding-right: 0;

        @media #{$mobile-screen} {
            padding-left: 10px;
            padding-right: 10px;
        }

        &.has-form {
            max-width: 1200px;
            display: flex;
            flex-flow: row wrap;

            .blog-content {
                padding-top: 20px;

                order: 3;
                width: calc(100% - 1.25rem);
                margin-right: .625rem;
                margin-left: .625rem;

                @media #{$screen-desktop} {
                    padding-top: unset;
                    order: 2;
                    width: calc(58.33333% - 1.25rem);
                }

                .size-full,
                .sidebar-topic__divider {
                    width: 100vw;
                    max-width: calc(100% - 1.25rem) !important;

                    @media #{$screen-desktop} {
                        max-width: calc(58.33333% - 1.25rem) !important;
                    }
                }
            }

            .form-overlay-wrapper {
                order: 2;
                width: calc(100% - 1.25rem);
                margin-right: .625rem;
                margin-left: .625rem;

                @media #{$screen-desktop} {
                    z-index: 200;
                    order: 3;
                    width: calc(41.333% - 1.875rem);
                }

                .form-overlay {
                    display: flex;
                    padding: 25px;
                    background-color: #fff;
                    border-radius: 10px;
                    box-shadow: 0 0 20px 3px rgba(0,0,0,.26);

                    @media #{$screen-desktop} {
                        max-width: 500px;
                    }

                    form {
                        padding: 0;
                        padding-top: 15px;

                        .vfb-fieldType-text {
                            width: 100%;
                        }

                        .vfb-checkbox {
                            label {
                                color: black !important;
                            }
                        }
                    }
                }
            }
        }
    }

    &__blog-content__categories {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        span {
            font-family: "Avenir Heavy", Arial, sans-serif;
            color: #fff;
            font-size: 14px;
            line-height: 28px;
            letter-spacing: 1px;
            display: inline-block;
            background-color: #5c5c5c;
            border-radius: 5px;
            text-transform: uppercase;
            padding: 0 10px;
            margin-bottom: 10px;
            margin-right: 10px;
        }
    }
    .blog-content {
        padding: 0;

        > h3 {
            position: relative;
            padding-bottom: 20px;

            &:after {
                content: "";
                width: 50px;
                background-color: #2760b6;
                height: 3px;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        > img,
        figure img {
            max-width: 100%;
            height: auto;
        }
        img.aligncenter:not(.size-full) {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        figure {
            display: flex;
            &:not(.alignright):not(.alignleft) {
                width: 100% !important;
            }

            figcaption {
                font-family: "Avenir", sans-serif;
                color: #5c5c5c;
                margin-top: 20px;
                font-size: 18px;
                line-height: 26px;
                @media #{$mobile-screen} {
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            &.aligncenter img:not(.size-full) {
                margin: 0 auto;
            }

            img.size-full {
                width: 100vw;
            }

            & + p {
                margin-top: 50px;
            }
        }
        blockquote {
            margin-left: 0;
            margin-right: 0;
            position: relative;

            &:before {
                content: "";
                display: inline-block;
                background-image: url("../../images/icon-brand_blue.svg");
                background-size: cover;
                background-position: center;
                width: 18px;
                height: 33px;
                position: absolute;

                left: 110px; // calc(95px + 15px)
                @media #{$mobile-screen} {
                    left: 15px;
                }
            }

            p {
                color: $color-text-dark;
                padding-left: 143px; // calc(95px + 18px + 15px + 15px);
                max-width: 643px; // calc(500px + 95px + 18px + 15px + 15px);
                @media #{$mobile-screen} {
                    padding-left: 48px; // calc(18px + 15px + 15px);
                    max-width: 100%;
                }
                position: relative;
                top: -5px;
                margin: 0;
                font-family: "Calluna", sans-serif;
                font-size: 24px;
                line-height: 33px;
                quotes: "\201c""\201d";
                &:before {
                    content: open-quote;
                }
                &:after {
                    content: close-quote;
                }
            }
        }
        ul {
            list-style-type: none;
        }
        ol {
            list-style-position: inside;
        }
        ul, ol {
          margin: 0;
          padding: 0;

          &:not(.blog-post__blog-content__categories):not(.blog-post__authors):not(.social-shares__icons) {
              margin-top: 20px;

              li {
                  font-family: "Avenir Book", Arial, sans-serif;
                  font-size: 18px;
                  line-height: 26px;
                  @media #{$mobile-screen} {
                      font-size: 16px;
                      line-height: 24px;
                  }
              }
              li + li {
                  margin-top: 26px;
                  @media #{$mobile-screen} {
                      margin-top: 24px;
                  }
              }
          }
        }
        ul:not(.blog-post__blog-content__categories):not(.blog-post__authors):not(.social-shares__icons) {
            li:before {
                content: "•";
                margin: 0 5px 0 0;
                font-size: 16px;
            }
        }
        p {
            font-family: "Avenir Book", Arial, sans-serif;
            margin-bottom: 0;
            margin-top: 26px;
            font-size: 18px;
            line-height: 26px;
            @media #{$mobile-screen} {
                margin-top: 24px;
                font-size: 16px;
                line-height: 24px;
            }
        }
        > h2,
        > h2 + p,
        > h4 + p {
            margin-top: 20px;
        }
        > p + figure.alignright,
        > p + figure.alignleft,
        > p + figure.alignright + p,
        > p + figure.alignleft + p,
        > figure.alignright + p,
        > figure.alignleft + p {
            margin-top: 25px !important;
        }
        > h2 + p,
        > h3 + p {
            margin-top: 30px !important;
        }
        > h3,
        > h4,
        > p + h2,
        > blockquote,
        > blockquote + p,
        > .pullquote,
        > .pullquote + p,
        > .sidebar-topic,
        > .sidebar-topic + p,
        > .sidebar-topic + h2,
        > img,
        > figure,
        > figure:not(.alignleft):not(.alignright) + p,
        > .social-shares {
            margin-top: 50px !important;
        }
        img.alignright {
            height: auto;
            max-width: 100%;
            @media #{$mobile-screen} {
                margin-right: calc(50% - 50vw);
                max-width: calc(100% + 25px);
            }
        }
        img.alignleft {
            height: auto;
            max-width: 100%;
            @media #{$mobile-screen} {
                margin-left: calc(50% - 50vw);
                max-width: calc(100% + 25px);
            }
        }
        .alignright {
            float: right;
            margin: 25px 0 25px 25px;
        }
        .alignleft {
            float: left;
            margin: 25px 25px 25px 0;
        }
        .size-full,
        .sidebar-topic__divider {
            width: 100vw;
            max-width: 1110px !important;
            margin-left: 50%;
            transform: translate(-50%);
            height: auto;
        }
        .pullquote {
            h3 {
                font-family: "Calluna", Arial, sans-serif;
                font-size: 21px;
                font-weight: 400;
                margin: 0 0 20px;
            }
            .border-bottom {
                width: 10%;
                border-top: 3px solid #2760b6;
                display: inline-block;
                height: 20px;
            }
        }
        > .easy-footnotes-wrapper {
            display: none;
        }
        .sidebar-topic {
            .sidebar-topic__divider {
                height: 1px;
                background: #ddd;
                position: relative;

                &:first-of-type {
                    margin-bottom: 50px;
                }
                &:last-of-type {
                    margin-top: 50px;
                }
            }
            & > * {
                max-width: 635px;
            }
            &__title {
                font-family: "Avenir Heavy", Arial, sans-serif;
                margin-bottom: 30px;
                font-size: 21px;
                line-height: 28px;
                @media #{$mobile-screen} {
                    font-size: 18px;
                    line-height: initial;
                }
                &:before {
                    content: attr(data-heading);
                    font-family: "Avenir Heavy", Arial, sans-serif;
                    color: #2760b6;
                    display: block;
                    text-transform: uppercase;
                    font-size: 14px;
                    line-height: 28px;
                    letter-spacing: 1px;
                }
            }
            ol li,
            ul li,
            figure,
            p {
                background: white;
                border: 1px solid #dddddd;
                border-radius: 5px;
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
                padding: 15px;
                color: $color-text;
            }
            ul,
            ol,
            ol li + li,
            ul li + li,
            figure,
            p {
                margin-top: 10px !important;
            }
            img {
                max-width: 100% !important;
                height: auto;
            }
        }
        .presenter {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            align-items: flex-start;

            @media #{$screen-desktop} {
                flex-direction: row;
                flex-wrap: wrap;
            }

            &__image-container {
                position: relative;
            }

            &__profile-image {
                flex-shrink: 0;
                height: 150px !important;
                width: 150px !important;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
                margin-right: 20px;
                margin-bottom: 20px;
            }

            $logo-size: 70px;
            &__logo-container {
                position: absolute;
                background-color: #fff;
                bottom: 10px;
                right: 10px;
                border-radius: 50%;
                width: $logo-size;
                height: $logo-size;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0 20px 3px rgba(0,0,0,0.26);
            }

            &__logo-image {
                max-width: $logo-size;
                max-height: $logo-size;
                object-fit: cover;
                object-position: center;
            }

            &__title-description {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                flex-basis: 0;

                p {
                    margin-top: 10px;
                }
            }
        }
    }
    &__about {
        padding: 50px 0;
        border-bottom: 1px solid #ddd;
        a {
            text-decoration: none;
            font-weight: 700;
        }
        img {
            text-align: left;
            width: 250px;
            margin: 0;
        }
        h4 {
            font-size: 16px;
        }
    }
    &__authors {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: flex;
            margin: 0;
            margin-top: 10px;
        }
        &__headshot {
            flex-shrink: 0;
            height: 80px !important;
            width: 80px !important;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }
        &__header {
            font-family: "Avenir Book", Arial, sans-serif !important;
            font-weight: normal;
            border-top: 1px solid #ddd;
            padding-top: 30px;
            font-size: 24px !important;
            line-height: initial !important;
            @media #{$mobile-screen} {
                font-size: 21px !important;
                line-height: initial;
            }
        }
        &__details {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            padding-left: 20px;
            justify-content: center;
            &__name {
                color: #2760b6;
                font-family: "Avenir Heavy", Arial, sans-serif;
                font-size: 18px;
                line-height: 21px;
                @media #{$mobile-screen} {
                    font-size: 16px;
                }
            }
            &__title {
                display: inline-block;
                font-family: "Avenir Book", Arial, sans-serif;
                font-size: 18px;
                line-height: 21px;
                @media #{$mobile-screen} {
                    font-size: 16px;
                }
            }
        }
    }
    &__contact {
        margin-top: 30px;
        padding-bottom: 50px;
        border-bottom: 1px solid #ddd;
        @media #{$mobile-screen} {
            text-align: center;
        }
        h4 {
            font-family: "Avenir Book", Arial, sans-serif;
            font-weight: normal;
            margin-bottom: 15px;
            font-size: 24px;
            @media #{$mobile-screen} {
                font-size: 21px;
            }
        }
        a {
            display: inline-block;
            color: #fff;
            font-family: "Avenir Black", Arial, sans-serif;
            font-size: 14px;
            line-height: 28px;
            background-color: #2760b6;
            padding: 10px 20px;
            border-radius: 5px;
            text-transform: uppercase;
            box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
            min-height: 50px;
            letter-spacing: 1px;
        }
        &__no-border {
            border-bottom: none;
        }
    }
    &__footnotes {
        h3 {
            margin-top: 50px;
            margin-bottom: 26px;
            font-family: "Avenir Heavy", Arial, sans-serif;
            font-weight: initial;
            font-size: 18px !important;
            line-height: 26px;
            @media #{$mobile-screen} {
                margin-bottom: 21px;
                font-size: 16px;
                line-height: 21px;
            }
            &:after {
                height: 0;
                padding: 0;
            }
        }
    }
    .easy-footnotes-wrapper {
        display: block;
        list-style-position: inside;
        padding: 0;
        li {
            font-family: "Avenir Book", Arial, sans-serif;
            font-size: 14px;
            line-height: 16px;
            @media #{$mobile-screen} {
                line-height: 21px;
            }
        }
        li + li {
            margin-top: 16px;
            @media #{$mobile-screen} {
                margin-top: 21px;
            }
        }
    }
    .related-articles {
        padding: 30px 10px 100px 10px;
        @media #{$mobile-screen} {
            padding-bottom: 50px;
        }
        background-color: #fff;
        &__wrapper {
            max-width: 1110px;
            margin: 0 auto;
            @media #{$mobile-screen} {
                max-width: initial;
                margin: 0;
            }
        }
        h2 {
            margin-bottom: 20px;
            @media #{$mobile-screen} {
                margin-bottom: 30px;
            }
        }
        #recent-articles-list {
            padding-bottom: 0;
            border-bottom: none;
            li {
                margin: initial;
                display: flex;
                flex-direction: column;
                max-width: 33%;
                @media #{$mobile-screen} {
                    max-width: 100%;
                }
                .blog-tile__content-container {
                    flex-grow: 1;
                    min-height: 160px;
                    height: initial;

                    h2 {
                        margin-bottom: 20px;
                    }
                    .blog-tile__content__read-more {
                        font-family: "Avenir Heavy", sans-serif;
                    }
                    .blog-tile__category {
                        font-family: "Avenir Heavy", sans-serif;
                    }
                }
            }
        }
    }
}
