$mobile-screen: "screen and (max-width: 800px)";
$screen-desktop: "screen and (min-width: 800px)";
$color-text: #333;
$color-text-dark: #000;

.blog-post {

    background-color: #f3f3f3;
    text-align: initial;
    font-family: "Avenir", Arial, sans-serif;

    color: $color-text;
    h1,
    h2,
    h3,
    h4 {
        color: $color-text-dark;
        & a {
            font-family: inherit;
            text-decoration: inherit;
        }
    }

    &.has-form { 
        .blog-content,
        .blog-post__contact,
        .blog-post__about,
        .blog-post__footnotes {
            color: #ddd;

            h1,
            h2,
            h3,
            h4 {
                color: #fff;
            }
        }

        .blog-content .sidebar-topic__title::before {
            width: max-content;
            background-color: rgb(255, 255, 255);
            padding: 0 10px;
            border-radius: 5px;
        }
    }
    &.digest {
        background-color: #fff;

        .page-content {
            padding-top: 30px;
        }

        .blog-content {
            color: #000;

            & > h1 {
                margin-top: 50px;
                display: inline-block;
                font-family: $font-avenir-demi;
                font-size: 10px;
                background: #000;
                border-radius: 3px;
                padding: 0 30px;
                color: #fff;
                line-height: 22px;
                letter-spacing: -0.0861814px;
            }
            & > h2 {
                font-size: 34px;
                line-height: 38px;
                letter-spacing: -0.2125px;
                padding-bottom: 26px !important;
            }
            & > h3 {
                font-size: 30px;
                line-height: 38px;
                letter-spacing: -0.1875px;
                margin-top: 45px !important;
            }
            & > h2 + h3 {
                margin-top: 27px !important;
            }
            & > h5 {
                font-family: $font-calluna;
                font-weight: normal;
                font-size: 30px;
                margin: 0;
                margin-top: 28px;
                line-height: 38px;
                letter-spacing: -0.1875px;

                &,
                span {
                    text-decoration: none !important;
                }
            }

            & > p:first-child,
            & > h5 + p,
            & > h2 + p {
                &, & a {
                    font-family: $font-avenir-roman;
                    font-size: 15px;
                    line-height: 23px;
                    letter-spacing: -0.129272px;
                }
            }
            & > p:first-child {
                margin-top: 0;
            }
            & > p + h2,
            & > ul + h2 {
                margin-top: 40px !important;
            }

            & > h1 + h2 {
                margin-top: 10px;
            }

            hr {
                margin: 0;
                margin-top: 45px;
                border: 0;
                height: 1px;
                background: black;
            }

            & > .go-feature-link {
                display: block;
            }

            & > .go-feature-link,
            & > .go-feature {
                margin-top: 40px;

                & + p {
                    margin-top: 35px;
                }
            }

            .go-feature {
                position: relative;

                &:before {
                    content: "";
                    display: block;
                    width: 100%;
                    padding-top: (9 / 16) * 100%;
                }

                & > img,
                &__content {
                    position: absolute;
                    height: 100%;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }

                & > img {
                    width: 100%;
                    object-fit: cover;
                    z-index: 0;
                }

                &__content {
                    background: linear-gradient(
                        135deg,
                        rgba(39, 96, 182, 0.6) 0%,
                        rgba(113, 76, 182, 0.6) 100%
                    );
                    z-index: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    padding: 30px;
                    padding-right: 30%;
                }

                &__author {
                    font-family: $font-avenir-demi;
                    font-size: 12px;
                    line-height: 22px;
                    color: white;
                    text-shadow: 1px 1px 0 #3338;
                    letter-spacing: -0.103418px;
                }
                &__title {
                    margin-top: 5px;
                    font-family: $font-calluna;
                    font-size: 34px;
                    color: white;
                    text-shadow: 1px 1px 0 #3338;
                    white-space: break-spaces;
                    letter-spacing: -0.2125px;
                }
            }

            .go-button {
                display: inline-block;
                background: #2760B6;
                border-radius: 23.5px;
                padding: 0 80px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                color: white;
                text-transform: uppercase;
                font-family: $font-avenir;
                font-weight: 600;
                font-size: 13px;
                margin-top: 35px;
                letter-spacing: 0.32px;

                &:hover {
                    cursor: pointer;
                    background: darken(#2760B6, 5);
                }
            }

            ul:not(.social-shares__icons):not(.blog-post__authors) {
                margin-top: 18px !important;
                li {
                    padding-left: 18px;
                    position: relative;

                    &,
                    & a,
                    & p {
                        font-family: $font-avenir-roman !important;
                        font-size: 15px !important;
                        line-height: 22px !important;
                        letter-spacing: -0.129272px;
                    }

                    & p {
                        margin-top: 10px !important;
                    }

                    &:before {
                        content: '' !important;
                        width: 8px;
                        height: 15px;
                        position: absolute;
                        background-image: url("../../images/icon-brand_blue.svg");
                        background-size: cover;
                        background-position: center;
                        left: 0;
                        top: 6px;
                    }
                }
                li + li {
                    margin-top: 18px !important;
                }
            }

            blockquote {
                &:before {
                    top: 6px;
                    left: 0;
                    width: 16px;
                    height: 30px;
                }

                p:first-child {
                    padding-left: 43px;
                    font-family: $font-calluna !important;
                    font-size: 28px;
                    line-height: 36px;
                    letter-spacing: -0.175px;
                }
            }

            .blockquote-wrapper {
                &:before {
                    left: 0;
                }

                margin-top: 30px;

                blockquote {
                    margin: 0 !important;

                    &:before {
                        left: -27px;
                    }
                }

                .attribution {
                    padding-left: 43px;
                }
            }
        }
    }

    h1 {
        font-family: "Calluna", Arial, sans-serif;
        font-weight: normal;
        margin: 0;
        font-size: 48px;
        line-height: 52px;
        @media #{$mobile-screen} {
            font-size: 30px;
            line-height: 36px;
        }
    }
    h2 {
        font-family: "Calluna", Arial, sans-serif;
        font-weight: normal;
        margin: 0;
        font-size: 30px;
        line-height: 36px;
        @media #{$mobile-screen} {
            font-size: 24px;
            line-height: 28px;
        }
    }
    h3 {
        font-family: "Calluna", Arial, sans-serif;
        font-weight: normal;
        margin-bottom: 0;
        font-size: 24px;
        line-height: 28px;
        @media #{$mobile-screen} {
            font-size: 21px;
            line-height: 26px;
        }
    }
    h4 {
        font-family: "Avenir Heavy", Arial, sans-serif;
        font-weight: normal;
        margin: 0;
        font-size: 21px;
        line-height: 28px;
        @media #{$mobile-screen} {
            font-size: 18px;
            line-height: initial;
        }
    }

    &__image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 10;
        }
    }
    &__header {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 600px;
        @media #{$mobile-screen} {
            justify-content: flex-end;
            height: 500px;
            padding: 30px 10px;
        }
        z-index: 100;
        position: relative;
        max-width: 730px;
        margin: 0 auto;

        &__date,
        &__title,
        &__byline {
            text-shadow: 1px 1px 0 $color-text;
        }

        &__date {
            font-family: "Avenir Heavy", Arial, sans-serif;
            text-transform: uppercase;
            margin: 0;
            font-size: 18px;
            line-height: 34px;
            letter-spacing: 1px;
            @media #{$mobile-screen} {
                font-size: 12px;
                line-height: 28px;
            }
        }
        &__title {
            color: #fff !important;
        }
        &__hr__short-blue {
            width: 74px;
            height: 3px;
            display: block;
            background-color: #2760b6;
            border: none;
            margin: 0;
            margin-top: 30px;
        }
        &__byline {
            margin: 0;
            margin-top: 30px;
            font-size: 24px;
            @media #{$mobile-screen} {
                font-size: 16px;
                line-height: 21px;
            }
            font-family: "Avenir Heavy", sans-serif;
            &__by {
                font-family: "Avenir Book", sans-serif;
            }
            &__name {
                &:not(:last-of-type) {
                    &:after {
                        content: ",";
                    }
                }
            }
        }
    }
    &.has-form {
        $form-padding: .625rem;
        $form-gutter: 2.5 * $form-padding;
        $form-padding-width-shrink: $form-gutter + $form-padding;

        .landing-background {
            position: fixed;
            width: 100%;
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;

            &.scrim {
                background-color: rgba(0, 0, 0, 0.6);
            }
        }

        .blog-post__header {
            @media #{$screen-desktop} {
                padding-top: 100px;
            }
        }

        .blog-post__image .overlay {
            background-color: transparent !important;
        }

        .page-content {
            max-width: 1200px;
            display: flex;
            flex-flow: row wrap;
            position: relative;
        }
        .blog-content,
        .blog-post__contact,
        .blog-post__about {
            width: calc(100% - #{$form-padding-width-shrink});
            @media #{$screen-desktop} {
                width: calc(58.33333% - #{$form-padding-width-shrink});
            }
        }

        .blog-post h2 {
            color: white;
        }


        .blog-content {
            padding-top: 20px;
            margin-right: $form-padding;
            margin-left: $form-padding;

            @media #{$screen-desktop} {
                margin-right: $form-gutter;
            }

            .size-full,
            .sidebar-topic__divider {
                width: 100vw;
                max-width: calc(100% - #{$form-padding * 2}) !important;
            }
        }

        .form-overlay-wrapper {
            width: calc(100% - #{$form-padding-width-shrink});
            margin-top: 25px;
            margin-right: $form-padding;
            margin-left: $form-padding;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media #{$screen-desktop} {
                margin-top: 0;
                z-index: 200;
                width: calc(41.333% - #{$form-padding-width-shrink});
                margin-left: $form-gutter;
            }

            .form-overlay {
                display: flex;
                padding: 25px;
                background-color: #fff;
                border-radius: 10px;
                box-shadow: 0 0 20px 3px rgba(0,0,0,.26);

                @media #{$screen-desktop} {
                    max-width: 500px;
                }

                form {
                    padding: 0;
                    padding-top: 15px;
                }
            }

            .social-shares {
                color: $color-text;
                margin-top: 25px;
                margin-bottom: 25px;
            }
        }

        .related-articles {
            background-color: white;
            position: relative;
        }
    }

    .page-content {
        max-width: 730px;
        padding-top: 20px;
        padding-left: 0;
        padding-right: 0;

        @media #{$mobile-screen} {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &__blog-content__categories {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        span {
            font-family: "Avenir Heavy", Arial, sans-serif;
            color: #fff;
            font-size: 14px;
            line-height: 28px;
            letter-spacing: 1px;
            display: inline-block;
            background-color: #5c5c5c;
            border-radius: 5px;
            text-transform: uppercase;
            padding: 0 10px;
            margin-bottom: 10px;
            margin-right: 10px;
        }
    }
    .blog-content {
        padding: 0;

        > h2 {
            position: relative;
            padding-bottom: 20px;

            &:after {
                content: "";
                width: 50px;
                background-color: #2760b6;
                height: 3px;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        > img,
        figure img {
            max-width: 100%;
            height: auto;
        }
        img.aligncenter:not(.size-full) {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        figure {
            display: flex;
            &:not(.alignright):not(.alignleft) {
                width: 100% !important;
            }

            figcaption {
                font-family: "Avenir", sans-serif;
                color: #5c5c5c;
                margin-top: 20px;
                font-size: 18px;
                line-height: 26px;
                @media #{$mobile-screen} {
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            &.aligncenter img:not(.size-full) {
                margin: 0 auto;
            }

            img.size-full {
                width: 100vw;
            }

            & + p {
                margin-top: 50px;
            }
        }
        > .blockquote-wrapper,
        > blockquote {
            &:before {
                content: "";
                display: inline-block;
                background-image: url("../../images/icon-brand_blue.svg");
                background-size: cover;
                background-position: center;
                width: 18px;
                height: 33px;
                position: absolute;

                left: 110px; // calc(95px + 15px)
                @media #{$mobile-screen} {
                    left: 15px;
                }
            }
        }
        .blockquote-wrapper,
        blockquote {
            margin-left: 0;
            margin-right: 0;
            position: relative;

            p:first-child {
                color: $color-text-dark;
                max-width: 643px; // calc(500px + 95px + 18px + 15px + 15px);
                @media #{$mobile-screen} {
                    max-width: 100%;
                }
                position: relative;
                top: -5px;
                margin: 0;
                font-family: "Calluna", sans-serif;
                font-size: 24px;
                line-height: 33px;
                quotes: "\201c""\201d";
                &:before {
                    content: open-quote;
                }
                &:after {
                    content: close-quote;
                }
            }
        }
        .blockquote-wrapper { 
            blockquote {
                margin-bottom: 0;
            }
            .attribution {
                font-family: $font-avenir-roman;
                font-size: 13px;
                line-height: 23px;
                color: #2760B6;
                display: inline-block;
                letter-spacing: -0.112036px;
                margin-top: 13px;
            }
        }
        & > blockquote,
        & .blockquote-wrapper .attribution,
        & .blockquote-wrapper p:first-child {
            padding-left: 143px; // calc(95px + 18px + 15px + 15px);
            @media #{$mobile-screen} {
                padding-left: 48px; // calc(18px + 15px + 15px);
            }
        }
        ul {
            list-style-type: none;
        }
        ol {
            list-style-position: inside;
        }
        ul, ol {
          margin: 0;
          padding: 0;

          &:not(.blog-post__blog-content__categories):not(.blog-post__authors):not(.social-shares__icons) {
              margin-top: 20px;

              li {
                  font-family: "Avenir Book", Arial, sans-serif;
                  font-size: 18px;
                  line-height: 26px;
                  @media #{$mobile-screen} {
                      font-size: 16px;
                      line-height: 24px;
                  }
              }
              li + li {
                  margin-top: 26px;
                  @media #{$mobile-screen} {
                      margin-top: 24px;
                  }
              }
          }
        }
        ul:not(.blog-post__blog-content__categories):not(.blog-post__authors):not(.social-shares__icons) {
            li:before {
                content: "•";
                margin: 0 5px 0 0;
                font-size: 16px;
            }
        }
        table {
            margin-top: 26px;
            
            $border: 1px solid #333;

            tr + tr {
                border-top: $border;
            }
            td + td {
                border-left: $border;
            }

            tr {
                td {
                    padding: 10px;

                    h3 {
                        margin: 0;
                    }
                }
            }
        }
        p {
            margin: 0;
        }
        > p {
            font-family: "Avenir Book", Arial, sans-serif;
            margin-bottom: 0;
            margin-top: 26px;
            font-size: 18px;
            line-height: 26px;
            @media #{$mobile-screen} {
                margin-top: 24px;
                font-size: 16px;
                line-height: 24px;
            }
        }
        > h2,
        > h2 + p,
        > h4 + p {
            margin-top: 20px;
        }
        > p + figure.alignright,
        > p + figure.alignleft,
        > p + figure.alignright + p,
        > p + figure.alignleft + p,
        > figure.alignright + p,
        > figure.alignleft + p {
            margin-top: 25px !important;
        }
        > h2 + p,
        > h3 + p {
            margin-top: 30px !important;
        }
        > h3,
        > h4,
        > p + h2,
        > blockquote,
        > blockquote + p,
        > .blockquote-wrapper,
        > .blockquote-wrapper + p,
        > .pullquote,
        > .pullquote + p,
        > .sidebar-topic,
        > .sidebar-topic + p,
        > .sidebar-topic + h2,
        > img,
        > figure,
        > figure:not(.alignleft):not(.alignright) + p,
        > .social-shares {
            margin-top: 50px !important;
        }
        img.alignright {
            height: auto;
            max-width: 100%;
            @media #{$mobile-screen} {
                margin-right: calc(50% - 50vw);
                max-width: calc(100% + 25px);
            }
        }
        img.alignleft {
            height: auto;
            max-width: 100%;
            @media #{$mobile-screen} {
                margin-left: calc(50% - 50vw);
                max-width: calc(100% + 25px);
            }
        }
        .alignright {
            float: right;
            margin: 25px 0 25px 25px;
        }
        .alignleft {
            float: left;
            margin: 25px 25px 25px 0;
        }
        .size-full,
        .sidebar-topic__divider {
            width: 100vw;
            max-width: 1110px !important;
            margin-left: 50%;
            transform: translate(-50%);
            height: auto;
        }
        .pullquote {
            h3 {
                font-family: "Calluna", Arial, sans-serif;
                font-size: 21px;
                font-weight: 400;
                margin: 0 0 20px;
            }
            .border-bottom {
                width: 10%;
                border-top: 3px solid #2760b6;
                display: inline-block;
                height: 20px;
            }
        }
        > .easy-footnotes-wrapper {
            display: none;
        }
        .sidebar-topic {
            .sidebar-topic__divider {
                height: 1px;
                background: #ddd;
                position: relative;

                &:first-of-type {
                    margin-bottom: 50px;
                }
                &:last-of-type {
                    margin-top: 50px;
                }
            }
            & > * {
                max-width: 635px;
            }
            &__title {
                font-family: "Avenir Heavy", Arial, sans-serif;
                margin-bottom: 30px;
                font-size: 21px;
                line-height: 28px;
                @media #{$mobile-screen} {
                    font-size: 18px;
                    line-height: initial;
                }
                &:before {
                    content: attr(data-heading);
                    font-family: "Avenir Heavy", Arial, sans-serif;
                    color: #2760b6;
                    display: block;
                    text-transform: uppercase;
                    font-size: 14px;
                    line-height: 28px;
                    letter-spacing: 1px;
                }
            }
            ol li,
            ul li,
            figure,
            p {
                background: white;
                border: 1px solid #dddddd;
                border-radius: 5px;
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
                padding: 15px;
                color: $color-text;
            }
            ul,
            ol,
            ol li + li,
            ul li + li,
            figure,
            p {
                margin-top: 10px !important;
            }
            img {
                max-width: 100% !important;
                height: auto;
            }
        }
        .presenter {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            align-items: flex-start;
            max-width: 643px;

            @media #{$screen-desktop} {
                flex-direction: row;
                flex-wrap: wrap;
            }

            &__image-container {
                position: relative;
            }

            &__profile-image {
                flex-shrink: 0;
                height: 150px !important;
                width: 150px !important;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
                margin-right: 20px;
                margin-bottom: 20px;
            }

            $logo-size: 70px;
            &__logo-container {
                position: absolute;
                background-color: #fff;
                bottom: 10px;
                right: 10px;
                border-radius: 50%;
                width: $logo-size;
                height: $logo-size;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0 20px 3px rgba(0,0,0,0.26);
            }

            &__logo-image {
                max-width: $logo-size;
                max-height: $logo-size;
                object-fit: cover;
                object-position: center;
            }

            &__title-description {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                @media #{$screen-desktop} {
                    flex-basis: 0;
                }

                p {
                    margin-top: 10px;
                }
            }
        }
    }
    &__about {
        padding: 50px 0;
        border-bottom: 1px solid #ddd;
        a {
            text-decoration: none;
            font-weight: 700;
        }
        img {
            text-align: left;
            width: 250px;
            margin: 0;
        }
        h4 {
            font-size: 16px;
        }
    }
    &__authors {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: flex;
            margin: 0;
            margin-top: 10px;
        }
        &__headshot {
            flex-shrink: 0;
            height: 80px !important;
            width: 80px !important;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }
        &__header {
            font-family: "Avenir Book", Arial, sans-serif !important;
            font-weight: normal;
            border-top: 1px solid #ddd;
            padding-top: 30px;
            font-size: 24px !important;
            line-height: initial !important;
            @media #{$mobile-screen} {
                font-size: 21px !important;
                line-height: initial;
            }
        }
        &__details {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            padding-left: 20px;
            justify-content: center;
            &__name {
                color: #2760b6;
                font-family: "Avenir Heavy", Arial, sans-serif;
                font-size: 18px;
                line-height: 21px;
                @media #{$mobile-screen} {
                    font-size: 16px;
                }
            }
            &__title {
                display: inline-block;
                font-family: "Avenir Book", Arial, sans-serif;
                font-size: 18px;
                line-height: 21px;
                @media #{$mobile-screen} {
                    font-size: 16px;
                }
            }
        }
    }
    &__contact {
        margin-top: 30px;
        padding-bottom: 50px;
        border-bottom: 1px solid #ddd;
        @media #{$mobile-screen} {
            text-align: center;
        }
        h4 {
            font-family: "Avenir Book", Arial, sans-serif;
            font-weight: normal;
            margin-bottom: 15px;
            font-size: 24px;
            @media #{$mobile-screen} {
                font-size: 21px;
            }
        }
        a {
            display: inline-block;
            color: #fff;
            font-family: "Avenir Black", Arial, sans-serif;
            font-size: 14px;
            line-height: 28px;
            background-color: #2760b6;
            padding: 10px 20px;
            border-radius: 5px;
            text-transform: uppercase;
            box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
            min-height: 50px;
            letter-spacing: 1px;
        }
        &__no-border {
            border-bottom: none;
        }
    }
    &__footnotes {
        h3 {
            margin-top: 50px;
            margin-bottom: 26px;
            font-family: "Avenir Heavy", Arial, sans-serif;
            font-weight: initial;
            font-size: 18px !important;
            line-height: 26px;
            @media #{$mobile-screen} {
                margin-bottom: 21px;
                font-size: 16px;
                line-height: 21px;
            }
            &:after {
                height: 0;
                padding: 0;
            }
        }
    }
    .easy-footnotes-wrapper {
        display: block;
        list-style-position: inside;
        padding: 0;
        li {
            font-family: "Avenir Book", Arial, sans-serif;
            font-size: 14px;
            line-height: 16px;
            @media #{$mobile-screen} {
                line-height: 21px;
            }
        }
        li + li {
            margin-top: 16px;
            @media #{$mobile-screen} {
                margin-top: 21px;
            }
        }
    }
    .related-articles {
        padding: 30px 10px 100px 10px;
        @media #{$mobile-screen} {
            padding-bottom: 50px;
        }
        background-color: #fff;
        &__wrapper {
            max-width: 1110px;
            margin: 0 auto;
            @media #{$mobile-screen} {
                max-width: initial;
                margin: 0;
            }
        }
        h2 {
            margin-bottom: 20px;
            @media #{$mobile-screen} {
                margin-bottom: 30px;
            }
        }
        #recent-articles-list {
            padding-bottom: 0;
            border-bottom: none;
            li {
                margin: initial;
                display: flex;
                flex-direction: column;
                max-width: 33%;
                @media #{$mobile-screen} {
                    max-width: 100%;
                }
                .blog-tile__content-container {
                    flex-grow: 1;
                    min-height: 160px;
                    height: initial;

                    h2 {
                        margin-bottom: 20px;
                    }
                    .blog-tile__content__read-more {
                        font-family: "Avenir Heavy", sans-serif;
                    }
                    .blog-tile__category {
                        font-family: "Avenir Heavy", sans-serif;
                    }
                }
            }
        }
    }
}
