.blog-post {
	background-color: #F3F3F3;
	color: #363636;
	text-align: initial;
	blockquote {
		font-size: 24px;
		font-family: 'Calluna', Arial, sans-serif;
		position: relative;
		&:before {
			content: '';
			display: inline-block;
			background-image: url('../../images/icon-brand_blue.svg');
			background-size: cover;
			background-position: center;
			height: 27px;
			position: absolute;
			left: -25px;
			width: 14px;
		}
	}
	.page-content {
		padding: 20px 10px 0;
		@media screen and (min-width: 800px) {
			padding: 20px 0 50px;
		}
		@media screen and (min-width: 800px) {
			max-width: 730px;
		}
	}
	.blog-content {

		p, 
		.sidebar-topic ul li {
			color: #333333;
			font-family: 'Avenir', Arial, sans-serif;
			font-size: 16px;
			line-height: 24px;
		}
		> img {
			width: 100vw;
			height: auto;
			margin-left: calc(50% - 50vw);
			max-height: 210px;
			object-fit: cover;
			object-position: center;
			max-width: none;
		}
		.pullquote {
			h3 {
				font-family: 'Calluna', Arial, sans-serif;
				font-size: 21px;
				font-weight: 400;
				margin: 0 0 20px;
			}
			.border-bottom {
				width: 10%;
				border-top: 3px solid #2760B6;
				display: inline-block;
				height: 20px;
			}
		}
		> .easy-footnotes-wrapper {
			display: none;
		}
		.sidebar-topic {
			padding-bottom: 50px;
			border-bottom: 1px solid #DDD;
			h1 {
				font-family: 'Avenir', Arial, sans-serif;
				font-size: 18px;
				font-weight: 700;
				&:before {
					content: 'Sidebar Topic';
					display: block;
					text-transform: uppercase;
					color: #2760B6;
					font-family: 'Avenir', Arial, sans-serif;
					font-size: 14px;
					margin: 0 0 4px;
				}
			}
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				li {
					background-color: #fff;
					border-radius: 5px;
					margin: 10px 0;
					padding: 10px;
					&:before {
						content: "•";
						margin: 0 5px 0 0;
						font-size: 16px;
					}
				}
			}
		}
		@media screen and (min-width: 800px) {
			padding: 0;
		}
	}
	&__about {
		padding: 50px 0;
		border-bottom: 1px solid #DDD;
		a {
			text-style: none;
			font-weight: 700;
		}
		img {
			text-align: left;
			width: 250px;
			margin: 0;
		}
		h4 {
			font-size: 16px;
			font-family: 'Avenir', Arial, sans-serif;
		}
	}
	&__authors {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			display: flex;
			margin: 0 0 10px;
		}
		&__headshot {
			height: 80px;
			width: 80px;
			object-fit: cover;
			object-position: center;
			border-radius: 50%;
		}
		&__header {
			font-size: 21px;
			font-family: 'Avenir', Arial, sans-serif;
			font-weight: 400;
			padding-top: 30px;
			border-top: 1px solid #DDD;
		}
		&__details {
			display: flex;
			flex: 1 0 auto;
			flex-direction: column;
			padding-left: 20px;
			justify-content: center;
			&__name {
				color: #2760B6;
				font-family: 'Avenir', Arial, sans-serif;
				font-size: 16px;
				font-weight: 700;
			}
			&__title {
				display: inline-block;
				font-family: 'Avenir', Arial, sans-serif;
				font-size: 16px;

			}
		}
	}
	&__contact {
		text-align: center;
		padding: 0 0 50px;
		border-bottom: 1px solid #ddd;
		h3 {
			font-family: 'Avenir', Arial, sans-serif;
			font-size: 21px;
			font-weight: 400;
		}
		a {
			color: #fff;
			font-family: 'Avenir', Arial, sans-serif;
			font-size: 14px;
			font-weight: 700;
			background-color: #2760B6;
			padding: 15px;
			border-radius: 3px;
			text-transform: uppercase;
			box-shadow: 0px -2px 29px 0px rgba(201,201,201,0.91);
		}
	}
	&__footnotes {
		padding: 0 0 50px;
		h3 {
			font-size: 16px;
			font-family: 'Avenir', Arial, sans-serif;
			font-weight: 700;
		}
		.easy-footnotes-wrapper {
			display: block;
			list-style-position: inside;
			padding: 0;
			li {
				font-family: 'Avenir', Arial, sans-serif;
				font-size: 14px;
				margin: 0 0 30px 0;
			}
		}
	}
	&__image {
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		.overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.2);
			
		}
	}
	&__subtitle {
		font-family: 'Calluna', Arial, sans-serif;
		font-size: 24px;
		font-weight: 400;
	}
	&__blog-content {
		&__categories {
			list-style: none;
			padding: 0;
			li {
				color: #fff;
				display: inline-block; 
				background-color: #5C5C5C;
				border-radius: 3px;
				font-family: 'Avenir', Arial, sans-serif;
				text-transform: uppercase;
				font-weight: 700;
				padding: 5px 10px;
				font-size: 14px;
			}
		}
	}
	&__header {
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 60vh;
		padding: 30px 10px;
		&__byline {
			font-size: 16px;
		}
		&__date {
			font-size: 12px; 
			font-family: 'Avenir', Arial, sans-serif;
			font-weight: 700;
			text-transform: uppercase;
		}

		&__hr__short-blue {
			height: 3px;
			width: 15%;
			display: block;
			background-color: #2760B6;
			border: none;
			margin: 0 0 30px;
		}
		h1 {
			font-family: 'Calluna', Arial, sans-serif;
			font-weight: 400;
			margin: 0 0 30px;
		}
		@media screen and (min-width: 800px) {
			max-width: 730px;
			margin: 0 auto;
			h1 {
				font-size: 48px;
			}
			&__byline {
				font-size: 24px;
			}
			&__date {
				font-size: 18px;
			}
		}
	}
	@media screen and (min-width: 800px) {
		&__header {
			padding-left: 0;
			padding-right: 0;
		}
		&__subtitle {
			font-size: 30px;
		}
		.blog-content {
			p, 
			.sidebar-topic ul li {
				font-size: 18px;
			}
		}
	}
}