.blog {
	background-color: $color-canvas;
	position: relative;
	padding: 0 0 50px 0px;
	@include clearfix;
	.blog-index-headline {
		font-family: 'Calluna', Arial, sans-serif;
		font-weight: 300;
	}
	.spacer {
		padding-top: 310px;
	}
	.blog-categories-select-wrapper {
		position: relative;
		-webkit-box-shadow: 0px 5px 9px 5px rgba(206,206,206,0.54); 
		box-shadow: 0px 5px 9px 5px rgba(206,206,206,0.54);
		margin-bottom: 30px;
		.blog-categories-select {
			display: none;
		}
	}
	.select-selected {
		background-color: #fff;
		color: $color-base;
		font-weight: 700;
	}
	.select-selected:after {
		position: absolute;
		color: $color-base;
		content: '\f0d7';
		font-family: 'FontAwesome';
		top: 11px;
		right: 17px;
		width: 0;
		height: 0;
	}
	.select-items div,.select-selected {
		padding: 8px 16px;
		cursor: pointer;
		font-family: 'Avenir', Arial, sans-serif;
		font-size: 14px;
		text-transform: uppercase;
	}
	.select-items {
		position: absolute;
		background-color: #fff;
		color: $color-base-sub;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 99;
		-webkit-box-shadow: 0px 5px 9px -2px rgba(206,206,206,0.54); 
		box-shadow: 0px 5px 9px -2px rgba(206,206,206,0.54);
		font-family: 'Avenir', Arial, sans-serif;
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;

	}
	.select-hide {
		display: none;
	}
	.select-items div:hover, .same-as-selected {
		background-color: rgba(0, 0, 0, 0.1);
	}
	&__title {
		font-family: $font-accent;
		font-size: 72px;
		line-height: 74px;
		color: $color-base-highlight;
		text-align: left;
		display: inline-block;
		width: 50%;
		float: left;
		margin-bottom: 20px;
		margin-top: 0px;
		padding: $column-padding;
		position: relative;
		@media (max-width: 1030px) {
			width: 100%;
			float: none;
			display: block;
			max-width: 600px;
		}
		@media (max-width: 620px) {
			font-size: 40px;
			line-height: 50px;
			padding-bottom: 25px;
		}
	}
	&__description {
		display: inline-block;
		width: 50%;
		float: right;
		text-align: left;
		color: $color-base-sub;
		font-size: 18px;
		line-height: 33px;
		margin-top: 80px;
		margin-bottom: 20px;
		padding: $column-padding;
		@media (max-width: 1030px) {
			width: 100%;
			float: none;
			display: block;
			margin-top: 0px;
			max-width: 600px;
		}
		@media (max-width: 400px) {
			font-size: 16px;
			line-height: 28px;
		}
	}
	&__button {
		text-align: center;
		color: $color-base-alt;
		background: $color-brand;
		padding: 20px 50px;
		min-width: 230px;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 1.8px;
		border-radius: 50px;
		margin: 10px auto 50px auto;
		display: inline-block;
		text-transform: uppercase;
		&:hover {
			background: darken($color-brand, 15%);
		}
	}
}