.client-home {
	background-color: $color-canvas;
	position: relative;
	text-align: left;
	padding: 130px 0px 140px 0px;
	@include clearfix;
	@media (max-width: 980px) {
		padding: 50px 0px 110px 0px;
	}
	@media (max-width: 700px) {
		padding: 50px 0px 150px 0px;
	}
	& .l-container {
		max-width: 1060px;
	}
	&__content {
		width: 60%;
		display: inline-block;
		float: left;
		padding: $column-padding;
		@include clearfix;
		@media (max-width: 1060px) {
			padding-top: 30px;
		}
		@media (max-width: 980px) {
			padding-top: 20px;
		}
		@media (max-width: 700px) {
			width: 100%;
			display: block;
			float: none;
			margin-bottom: 30px;
		}
		&__intro {
			font-family: $font-accent;
			font-size: 72px;
			line-height: 82px;
			color: $color-base;
			padding-bottom: 50px;
			margin: 0px;
			@media (max-width: 1060px) {
				font-size: 48px;
				line-height: 58px;
			}
			@media (max-width: 620px) {
				font-size: 40px;
				line-height: 50px;
			}
			@media (max-width: 400px) {
				font-size: 30px;
				line-height: 36px;
				padding-bottom: 30px;
			}
		}
		&__subnote {
			font-size: 18px;
			line-height: 33px;
			color: $color-base-sub;
			padding-top: 30px;
			margin: 0px;
			border-top: 1px solid #000;
			max-width: 480px;
			@media (max-width: 700px) {
				max-width: none;
			}
			@media (max-width: 400px) {
				font-size: 16px;
				line-height: 28px;
			}
		}
	}

	&__logo-farm {
		width: 40%;
		display: inline-block;
		float: right;
		padding: 0px 5px 0px 15px;
		list-style-type: none;
		margin: 0px;
		@include clearfix;
		@media (max-width: 700px) {
			width: 100%;
			display: block;
			float: none;
			margin-bottom: 30px;
			padding: 0px;
		}
		&__logo {
			width: 50%;
			display: inline-block;
			float: left;
			padding: 20px 10px 20px 10px;
			@media (max-width: 700px) {
				width: 33.33%;
			}
			@media (max-width: 440px) {
				width: 50%;
			}
			& img {
				display: block;
			}
		}
	}
}