.go {
	text-indent: -9000px;
	position: relative;
	&--blue {
		@include sprite-background('logo-blue_content');
		display: inline-block;
		top: 23px;
	}
	&--white {
		@include sprite-background('logo-white_content');
		display: inline-block;
		top: 5px;
		margin-left: 15px;
		@media (max-width: 620px) {
			position: relative;
			top: 10px;
			@include transform(scale(0.6));
		}
	}
}

.home .blog .go--blue {
	@media (max-width: 620px) {
		position: relative;
		top: 5px;
		left: -20px;
		@include transform(scale(0.6));
	}
}