.stats-home {
	background-color: $color-canvas;
	position: relative;
	text-align: left;
	padding: 75px 0px 50px 0px;
	@media (max-width: 1300px) {
		padding-top: 0px;
	}
	@include clearfix;
	& .l-container {
		max-width: 1300px;
		background: #F2F5F8;
		padding: 200px 30px 130px 30px;
	}

	&__title {
		font-family: $font-accent;
		max-width: 800px;
		margin: 0px auto;
		font-size: 48px;
		line-height: 58px;
		font-weight: 400;
		color: $color-base;
		padding-bottom: 55px;
		border-bottom: 1px solid $color-base;
		@media (max-width: 620px) {
			font-size: 40px;
			line-height: 50px;
			padding-bottom: 25px;
		}
		@media (max-width: 400px) {
			font-size: 30px;
			line-height: 36px;
		}
	}

	&__data {
		max-width: 810px;
		margin: 0px auto;
		padding-top: 50px;
		@media (max-width: 400px) {
			padding-top: 30px;
		}
		& ul {
			list-style-type: none;
			margin: 0px;
			padding: 0px;
			& li {
				display: inline-block;
				width: 50%;
				float: left;
				color: $color-base-highlight;
				font-size: 27px;
				margin-bottom: 10px;
				@media (max-width: 870px) {
					width: 100%;
					display: block;
					float: none;
				}
				@media (max-width: 480px) {
					font-size: 16px;
					line-height: 28px;
				}
				& * {
					color: $color-base-highlight;
					font-size: 27px;
					@media (max-width: 480px) {
						font-size: 18px;
						line-height: 28px;
					}
				}
			}
		}
	}
}