$background-color: #efefef;
$border-color: $background-color;

@mixin background {
  background: $background-color;
  color: $color-base;
  font-size: 12px;
  letter-spacing: 1.2px;
  border: 1px solid $border-color;
  border-radius: 0px;
  padding: 25px 12px 26px 20px;
  @include box-shadow(0px 0px 0px 0px rgba(0, 0, 0, 0));
}

.vfbp-form {
  background-color: $color-brand-accent;
  padding: 0px 15px;
  @media (max-width: 580px) {
    padding: 0px;
  }

  &#vfbp-form-1 {
    max-width: 1000px;
    margin: 0px auto;

    .parsley-required {
      display: none;
    }
    .vfb-help-block {
      display: none;
    }
  }

  & .vfb-fieldType-select {
    padding: $column-padding;
		margin: 0px auto 25px auto;

    & select {
			@include background;
			padding-top: 0;
			padding-bottom: 0;
			height: 53px;
			
			option {
				font-size: 18px;
			}
    }
  }

  & .vfb-fieldType-text {
    display: inline-block;
    float: left;
    width: 50%;
    padding: $column-padding;
    margin: 0px auto 25px auto;
    @media (max-width: 580px) {
      display: block;
      float: none;
      width: 100%;
      padding: 0px;
    }
    & input {
      @include background;
    }
  }

  & .vfb-fieldType-textarea {
    padding: $column-padding;
    margin: 0px auto 25px auto;
    @media (max-width: 580px) {
      padding: 0px;
    }
    & textarea {
      @include background;
    }
  }
  & .vfb-fieldType-submit {
    text-align: center;
    & button {
      text-align: center;
      color: $color-base-alt;
      background: $color-brand;
      padding: 15px 50px;
      min-width: 300px;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 1.8px;
      border-radius: 50px;
      margin: 10px auto 0px auto;
      display: inline-block;
      text-transform: uppercase;
      @include transition(all 0.3s ease-in-out);
      &:hover {
        background: darken($color-brand, 15%);
        @include transition(all 0.3s ease-in-out);
      }
    }
  }

  & .vfb-fieldType-checkbox {
    margin: 0px auto 25px auto;
    padding: $column-padding;
  }

  & .vfb-fieldType-instructions {
    max-width: 350px;
  }

  & .vfb-form-group {
    margin: 0px;
  }

  & .vfb-clearfix {
    display: none;
  }

  & .vfb-control-label {
    display: none;
  }

  & .vfb-form-control {
    font-size: inherit;
    line-height: inherit;
    padding: 8px 12px 6px 12px;
    height: 38px;
    color: $color-base;
  }

  & .vfb-has-error .vfb-form-control {
    border-color: #ffd0d0;
    background-color: $background-color;
    &:focus {
      border-color: $background-color;
    }
  }
}
